<% layout('layouts/boilerplate') -%>

   <div class="row">
       <div class=" col-md-12">
            <div>
                <h1>welcome to you rent : see all listing deals </h1>

                <a href="/bookings" class="btn btn-info">view bookings available</a>
            </div>
       </div>
   </div>
